mixin minicart-product(product)
  .minicart-product
    picture
      source(srcset=`./assets/img/${product.img}@1x.webp 1x, ./assets/img/${product.img}@2x.webp 2x` type="image/webp")
      img(src=`./assets/img/${product.img}@1x.jpg" srcset="./assets/img/${product.img}.jpg 2x` alt= product.title width="96" height="96")

    .minicart-product__desc
      h2!= product.title
      span!= product.price

    .minicart-product__counter
      include ../components/base-components/counter

    button(type="button").minicart-product__remove.minicart-product__remove--refresh.js-minicart-product-remove
      svg(width="24" height="24").icon-remove
        use(xlink:href="./assets/sprite.svg#icon-close")
      svg(width="24" height="24").icon-refresh
        use(xlink:href="./assets/sprite.svg#icon-refresh")
