mixin product-card(product)
  .product-card(tabindex="0")
    .product-card__header
      picture
        source(srcset=`./assets/img/${product.img}@1x.webp 1x, ./assets/img/${product.img}@2x.webp 2x` type="image/webp")
        img(src=`./assets/img/${product.img}@1x.jpg` srcset=`./assets/img/${product.img}@2x.jpg 2x` alt= product.title width="278" height="278")

    .product-card__content
      h2!= product.title

    .product-card__footer
      span!= product.price
      include ../components/base-components/cart-add-button
